@tailwind base;
@tailwind components;
@tailwind utilities;


.placeholder {
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 73px;
  top: -2px;
  font-size: 0.875rem;
  color: #9CA3AF;
  pointer-events: none;
}

.input-container:focus-within .placeholder {
  text-align: center;
  top: -15px;
  font-size: 0.75rem;
}

.up_correo{
  transition: all 0.5s ease-in-out;
  position: absolute;
  text-align: center;
  left: 73px;
  top: -15px;
  font-size: 0.75rem;
  color: #9CA3AF;
  pointer-events: none;
}
.up_contraseña{
  transition: all 0.5s ease-in-out;
  position: absolute;
  text-align: center;
  left: 73px;
  top: -15px;
  font-size: 0.75rem;
  color: #9CA3AF;
  pointer-events: none;
}

/* .input-container:focus .placeholder {
  text-align: center;
  top: -12px;
  font-size: 0.75rem;
} */
